 header{
   grid-area: cabe;
   background-color: blue;
  }
   aside{
   grid-area: brac;
   background-color:pink;
  }
  main{
    grid-area: prin; 
   background-color: rebeccapurple;
}
footer{
grid-area: roda;
 background-color:green;
}
justify-content: center;


.card



width: 300px;

height: 40px;

margin: 38px;

display: flex; align-items: center;

justify-content: center; border-radius: 10px;




flex-direction: column;

box-shadow: 3px 6px 9px red; transition: 35;



card ing