body{
    background-color: black;
    background-image: url(fundo.jpeg);
    display: grid;
    grid-template-areas: 
        "cab cab cab"
        "sec pri pri"
        "rod rod rod";
    grid-gap: 5px;
    grid-template-columns: 20% auto auto;
    grid-template-rows: auto 1000px auto;
}

header{
    grid-area: cab;
}
aside{
    grid-area: sec;
}
main{
    grid-area: pri;
}
footer{
    grid-area: rod;
}

header, aside, main, footer{
    background-color: rgba(116, 93, 93, 0.7);
}
.caixa_mae{
    border: red 2px solid;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card{
    width: 300px;
    height: 400px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 3px 6px 9px red;
    transition: 3s;
}
.card img{
    width: 250px;
}
.card a{
    background-color: black;
    text-decoration: none;
    color: aliceblue;
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
}